<?xml version="1.0" encoding="UTF-8"?>

<included>
  <springProfile name="windows">
    <property name="LOG_DIR" value="c:/opt/citylife/logs" />
  </springProfile>

  <springProfile name="!windows">
    <property name="LOG_DIR" value="/opt/citylife/logs" />
  </springProfile>

  <springProperty scope="context" name="applicationName"
    source="spring.application.name"
    defaultValue="undefined_applicationName" />
  <springProperty scope="context" name="applicationIp"
    source="spring.cloud.client.ip-address"
    defaultValue="undefined_applicationIp" />
  <property name="LOG_CITYLIFE_NAME"
    value="${applicationName}-citylife.log" />
  <property name="LOG_SPRING_NAME"
    value="${applicationName}-spring.log" />

  <include
    resource="com/citylife/common/logging/template/citylife-logstash-appender.xml" />
  <include
    resource="com/citylife/common/logging/template/spring-logstash-appender.xml" />
  <include
    resource="com/citylife/common/logging/template/console-appender.xml" />

  <logger name="operation" additivity="false" level="INFO">
    <appender-ref ref="FILE_CITYLIFE" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="admin" additivity="false" level="INFO">
    <appender-ref ref="FILE_CITYLIFE" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="login" additivity="false" level="INFO">
    <appender-ref ref="FILE_CITYLIFE" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <springProfile name="!prod">
    <logger name="debug" additivity="false" level="TRACE">
      <appender-ref ref="FILE_CITYLIFE" />
      <appender-ref ref="CONSOLE" />
    </logger>
  </springProfile>

  <root level="INFO">
    <appender-ref ref="FILE_SPRING" />
    <appender-ref ref="CONSOLE" />
  </root>
</included>