<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="FILE_SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <immediateFlush>true</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>${LOG_DIR}/${LOG_SPRING_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_SPRING_NAME}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <includeCallerData>true</includeCallerData>
            <customFields>{"applicationName":"${applicationName}","applicationIp":"${applicationIp}"}</customFields>
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames" />
        </encoder>
    </appender>
</included>
